<div class="container">
    <div class="flex justify-content-start ">
        <p-breadcrumb class="max-w-full " [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="row d-flex justify-content-between">

        <div class="col-md-6 my-auto">
            <h1 class="fw-bold text-info fs-3">About Featured-app</h1>
            <span class="fw-bold text-secondary fs-5">
                The featured-app application is an application that allows you to log in as an admin using the data
                attached
                when downloading to add, modify or delete some tasks for users. It also allows you to follow up on these
                tasks
                when they are completed by the users.
                It also allows you to register via a new email and log in as a user to receive tasks from the admin and
                complete
                them only on the login page. Choose to log in as a user.
            </span>
            <p-button class="d-block my-2 fs-5 fw-normal font-monospace" label="See All-Tasks"
                styleClass="p-button-raised p-button-info" (onClick)="toTasks()"></p-button>

        </div>
        <div class="col-md-5">
            <img style="max-width: 100%;" src="assets/images/main.png" alt="">
        </div>
    </div>
</div>