<mat-drawer-container>
    <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
        [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
        <div class="sidenav-header">
            <span>
                {{collapsedNav && !mobileQuery.matches ? 'Fd' : 'Featured'}}
                <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
                    <mat-icon>menu</mat-icon>
                </button>
            </span>

        </div>
        <ul>
            <li class="justify-content-center d-flex" (click)="navigation(1,'/user/main/home')"
                [ngClass]="{'active': itemId === 1}">
                <mat-icon class="text-center">home</mat-icon>
            </li>
            <li class="justify-content-center d-flex" (click)="navigation(2,'/user/main/tasks/list')"
                [ngClass]="{'active': itemId === 2}">
                <span>
                    {{collapsedNav && !mobileQuery.matches ? 'TS' : 'All-Tasks'}}
                </span>
            </li>
            <li (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">

        <div class="navigation mx-2 my-3 rounded-3 row d-flex justify-content-between"
            style="background-color: #3d4371;">
            <button class="m-1" style="display: none;" mat-icon-button
                (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
                <mat-icon>menu</mat-icon>
            </button>
            <button disabled mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
            </button>

            <button class="m-1" mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
                <mat-icon class="text-white fs-4">account_circle</mat-icon>
            </button>
            <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
                <button mat-menu-item>
                    <mat-icon>person</mat-icon><span>My Account</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon><span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>help</mat-icon><span>Help</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>Logout
                </button>
            </mat-menu>
        </div>
        <mat-card class="">
            <mat-card-header>

                <mat-card-title>
                    <!-- <mat-toolbar>My App</mat-toolbar> -->
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
        <mat-card class="">

            <mat-card-content>
                <app-footer-user></app-footer-user>
            </mat-card-content>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>