<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand  fw-bold fs-3">{{"aboutApp.featured" | translate}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" (click)="openMenue()"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': isNavShow}">
            <ul class="navbar-nav mt-1">
                <li class="nav-item">
                    <a class="nav-link fs-6" id="1" (click)="navigateTo(1, 'admin/main/tasks/list')"
                        [ngClass]="{'active': isActive == 1}" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-6" id="2" (click)="navigateTo(2, 'admin/main/tasks/list')"
                        [ngClass]="{'active': isActive == 2}" aria-current="page">Users</a>
                </li>
            </ul>
            <div class="d-flex sec1">
                <p-confirmPopup></p-confirmPopup>
                <button class="btn btn-danger me-3" type="submit" (click)="logout($event)">Log out</button>
                <button class="btn btn-primary" type="submit" (click)="changeLang()">{{lang == 'en' ?
                    'عربي':'English'}}</button>
            </div>
        </div>
        <div class="d-flex sec2">
            <p-confirmPopup></p-confirmPopup>
            <button class="btn btn-danger me-3" type="submit" (click)="logout($event)">Log out</button>
            <button class="btn btn-primary" type="submit" (click)="changeLang()">{{lang == 'en' ?
                'عربي':'English'}}</button>
        </div>

    </div>
</nav>