<!-- <div class="mt-4">
 
    <form >
        <div class="row mt-3">
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput  placeholder="title search">
                    </mat-form-field>
                </div>   
        </div>
    </form>
    <div class="listBox">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  w-100 mt-2"> -->

<!-- Position Column -->
<!-- <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element;let index = index"> {{index + 1}} </td>
            </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container> -->

<!-- Weight Column -->
<!-- <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container> -->

<!-- Symbol Column -->
<!-- <ng-container matColumnDef="tasksAssigned">
                <th mat-header-cell *matHeaderCellDef> Tasks Assigned </th>
                <td mat-cell *matCellDef="let element"> {{element.tasksAssigned}} </td>
              </ng-container>
           

            <ng-container matColumnDef="actions" >
                <th mat-header-cell *matHeaderCellDef class="w-20">  </th>
                <td mat-cell *matCellDef="let element">   
                    <button  mat-raised-button color="warn">Delete</button>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
</div> -->

<div>
  <div class="d-flex justify-content-between table1 border-bottom mb-3 py-3">
    <span class="fs-3 fw-bold " style="color: #3d4371;">All-Users list</span>
    <!-- <button class="addTask" mat-raised-button (click)="addTask()" style="background-color: #3d4371;">Add Task</button> -->
  </div>
  <div class="table2 mb-3" style="display: none;">
    <div class="row d-flex justify-content-between">
      <div class="col-7 d-flex text-center">
        <!-- <button (click)="openSearchDialog()" class="addTask" mat-raised-button style="background-color: #3d4371;"><i
            class="bi bi-search me-1"></i>Search</button> -->
      </div>
      <div class="col-4 text-center">
        <!-- <button class="addTask" mat-raised-button (click)="addTask()" style="background-color: #3d4371;">Add</button> -->
      </div>
    </div>
  </div>
  <form>
    <div class="row mt-3">
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input matInput placeholder="title search">
        </mat-form-field>
      </div>
      <!-- <div class="col-md-3">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>By User</mat-label>
          <mat-select>
            <mat-option *ngFor="let user of users" [value]="user?.id">
              {{user?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of status" [value]="item?.name">
              {{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

    </div>
  </form>




  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table1">
      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> username </th>
        <td mat-cell class="fw-bold" *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef>email </th>
        <td mat-cell class="fw-bold" *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- assignedTasks Column -->
      <ng-container matColumnDef="assignedTasks">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> assignedTasks </th>
        <td mat-cell class="fw-bold" *matCellDef="let element"> {{element.assignedTasks}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell class="fw-bold" *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th style="color: #fff;" mat-header-cell *matHeaderCellDef class="w-20">Action Menu</th>
        <td mat-cell *matCellDef="let element">

          <button mat-button [matMenuTriggerFor]="menu" class="fw-bold"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeStatus(element)"><mat-icon>autorenew</mat-icon><span
                class="fw-bold text-muted">Change
                status</span></button>
            <button mat-menu-item (click)="deleteUser(element)"><mat-icon>delete</mat-icon><span
                class="fw-bold text-muted">Delete</span></button>
          </mat-menu>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="table1" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>



  <div class="listBox">

    <mat-card class="">

      <mat-card-content>
        <div class="table2" style="display: none;">
          <h1 class="m-3 modal-title fw-bold" style="color: #3d4371;">All-Users list</h1>
          <p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem'}">
            <ng-template pTemplate="header">
              <tr class="table2-header rounded-3">
                <th>username</th>
                <th>email</th>
                <th>assignedTasks</th>
                <th>status</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr class="table2-body fw-bold">
                <td>{{ product?.username }}</td>
                <td>{{ product?.email }}</td>
                <td>{{ product?.assignedTasks }}</td>
                <td>
                  <!-- <div class="flex justify-content-center">
                    <p-inputSwitch (click)="changeStatus(product)"></p-inputSwitch>
                  </div> -->
                  {{ product?.status }}
                </td>
                <td>

                  <button mat-button [matMenuTriggerFor]="menu" class="fw-bold"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changeStatus(product)"><mat-icon>autorenew</mat-icon><span
                        class="fw-bold text-muted">Change status</span></button>
                    <button mat-menu-item><mat-icon>delete</mat-icon><span class="fw-bold text-muted"
                        (click)="deleteUser(product)">Delete</span></button>
                  </mat-menu>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>