<div class="mt-4">

  <div class="d-flex justify-content-end">
    <button class="addTask" mat-raised-button (click)="addTask()">Add Task</button>
  </div>

  <form>
    <div class="row mt-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input (keyup)="searchByTitle($event.target)" matInput placeholder="title search">
        </mat-form-field>
      </div>
      <div class="col-md-3">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>By User</mat-label>
          <mat-select (selectionChange)="searchByUser($event)">
            <mat-option *ngFor="let user of users" [value]="user?.id">
              {{user?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select (selectionChange)="searchByStatus($event)">
            <mat-option *ngFor="let item of status" [value]="item?.name">
              {{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input #dateRangeStart matStartDate placeholder="Start date">
            <input #dateRangeEnd (dateChange)="searchByDate(dateRangeStart, dateRangeEnd)" matEndDate
              placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="listBox">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  w-100 mt-2">

      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;let index = index"> <img style="max-width: 80px;"
            [src]="'https://i-task-crud.onrender.com/'+element.image" alt=""> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> {{element.user}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> DeadLine Date </th>
        <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="w-20"> </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-warning" mat-raised-button (click)="updateTask(element)">Update</button>
          <p-confirmPopup></p-confirmPopup>
          <button mat-raised-button color="warn" (click)="deleteTask($event,element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>