.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 85%;
    margin: 0;
}

.app-sidenav {
    width: 230px;
}

.app-sidenav-content {
    // display: flex;
    // margin: auto;
    // height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
}