.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

@media only screen and (max-width: 767px) {
    .sec1 {
        display: none !important;
    }

    .sec2 {
        display: block !important;
    }

    section {
        background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg) !important;
        background-repeat: no-repeat;
        background-color: #cccccc;
        background-position: center;
        background-size: cover;
    }

    .card {
        opacity: .95;
    }
}