<div class="container">
    <h1 class="text-danger text-center fw-bold">How to use the featured application</h1>
    <h1 class="help-title">When You login as an admin</h1>
    <div class="help-content">
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> You can
            view all tasks through the
            menu on the side and then click on <b>All
                Tasks</b></span><br>
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> You can view all users through the
            menu on the side and then
            click on <b>All Users</b></span><br>
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> You can <b>Add</b> a task to any
            user in
            the application through <b>All tasks</b>, then add a task, then click Complete.
            You can also <b>Edit</b> and <b>Delete</b> tasks through the menu at the end of each task in the task
            table</span><br>
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> You can also follow up on tasks
            in case they are finished or not yet through the status in the <b>task table</b></span><br>
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> You can <b>Change</b> status
            of all users to <b>active</b> or <b>inactive</b>, or <b>Delete</b> any of them through the <b>user list</b>
            and
            then
            Menu</span><br>
        <span class="help-content-item"><i class="bi bi-arrow-right-circle-fill"></i> To visit your profile, click on
            <b>my account</b> from the menu on the side</span><br>
    </div>
</div>